.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.title {
  background-color: black;
  color: white;
  font-weight: bold;
}
.title th {
  padding: 12px;
  border: 1px solid black;
}

.item tr {
  border: 1px solid black;
}
.item tr:nth-child(even) {
  background-color: #d3d3d3; /* Світло-сірий фон для парних рядків */
}
.item td {
  border: 1px solid black;
}
